<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sktel.nscan.port.database.LoginMapper">

    <!--  -->
    <select id="selectMovPhonNum"  parameterType="Login" resultType="String">
        SELECT MIN(MOV_PHON_NUM) MOV_PHON_NUM FROM (
           SELECT MOV_PHON_NUM
           FROM TG_USER
           WHERE LOGIN_ID = upper(#{login_id})
             AND CO_CL_CD = 'T'
             AND SCRT_NUM = #{scrt_num_sha1}
           UNION ALL
           SELECT MOV_PHON_NUM
           FROM TG_USER
           WHERE LOGIN_ID =  upper(#{login_id})
             AND CO_CL_CD = 'T'
             AND SCRT_NUM = #{scrt_num_sha256}
             AND PWD_ENC_USE_YN ='Y'
           UNION ALL
           SELECT MOV_PHON_NUM
           FROM TG_USER
           WHERE LOGIN_ID =  upper(#{login_id})
             AND CO_CL_CD = 'T'
             AND SCRT_NUM = #{scrt_num}
           UNION ALL
           SELECT 'FAIL' FROM DUAL
       ) T
           LIMIT 1
    </select>

    <select id="getLoginErrorCnt" parameterType="Login" resultType="int">
        SELECT COUNT(1) FROM TG_LOGIN_LOG_MGMT
        WHERE LOGIN_ID = upper(#{login_id})
          AND LOGIN_NORM_YN = 'N'
          AND LOGIN_RLSE_OBJ_YN ='N'
          AND DATE_FORMAT(CRE_DT,'%Y%m%d') = DATE_FORMAT(SYSDATE(),'%Y%m%d')
    </select>


    <select id="selectCertiNum" parameterType="SMSInfo" resultType="String">
        <![CDATA[
        SELECT *
        FROM (
            SELECT CERTI_NUM
            FROM TG_SMS_CERTI_HST
            WHERE login_id = upper(#{login_id})
            AND DATE_FORMAT(DATE_ADD(SYSDATE(), INTERVAL - (1/24/60/60*60) * 86400 SECOND), '%Y/%m/%d %H%i%s') < cre_dt
            UNION ALL
            SELECT 'FAIL' FROM DUAL
        ) K
        LIMIT 1
        ]]>
    </select>

    <insert id="insertCertiSMS" parameterType="SMSInfo" >
        INSERT INTO TG_SMS_CERTI_HST
        (CERTI_NUM, CRE_DT, SMS_CERTI_SEQ, LOGIN_ID, CO_CL_CD, LOGIN_DT, IP_ADDR, BROWSER, SESSION_ID)
        VALUES
            (#{certi_num}
            ,Date_format(SYSDATE(), '%Y/%m/%d %H%i%s')
            ,lpad(tshop.nextval('SMS_CERTI_SEQ') , 8, '0')
            ,upper(#{login_id})
            ,upper(#{co_cl_cd})
            ,null
            ,#{ip_addr}
            ,#{browser}
            ,#{session_id}
            )
    </insert>


    <select id="getSMScertiSeq" parameterType="SMSInfo" resultType="String">
        SELECT *
        FROM (
                 SELECT SMS_CERTI_SEQ
                 FROM TG_SMS_CERTI_HST
                 WHERE LOGIN_ID = upper(#{login_id})
                   AND CO_CL_CD = upper(#{co_cl_cd})
                   AND CERTI_NUM = #{certi_num}
                   AND CRE_DT like concat(date_format(sysdate(),'%Y/%m/%d'),'%')
                 UNION ALL
                 SELECT 'FAIL' FROM DUAL
            ) K
        LIMIT 1

    </select>


    <update id="initLoginST" parameterType="SMSInfo">
        UPDATE TG_SMS_CERTI_HST
        SET LOGIN_ST = NULL
        WHERE 1=1
          AND CO_CL_CD = #{co_cl_cd}
          AND LOGIN_ID = upper(#{login_id})
          AND LOGIN_ST = 'Y'
    </update>


    <update id="uptLoginDt" parameterType="SMSInfo">
        UPDATE TG_SMS_CERTI_HST
        SET LOGIN_DT = Date_format(SYSDATE(), '%Y/%m/%d %H%i%s')
          , LOGIN_ST ='Y'
        WHERE 1=1
          AND CO_CL_CD = #{co_cl_cd}
          AND LOGIN_ID = upper(#{login_id})
          AND SMS_CERTI_SEQ = #{sms_certi_seq}
          AND CERTI_NUM = #{certi_num}
          AND CRE_DT like concat(date_format(sysdate(),'%Y/%m/%d'),'%')
    </update>

    <select id="getUserInfo" parameterType="Login" resultType="UserInfo">
        select  a.login_id,
                a.han_nm,
                a.agn_nm,
                a.agn_cd,
                a.agn_rel,
                (select lcl_nm from tg_cd_mst where lcl_cd = 'AGENT_REL_TYPE' and cd_val = a.agn_rel) AS agn_rel_nm,
                (select lcl_nm from tg_cd_mst where lcl_cd = 'SALE_CHAN_TYPE' and cd_val = a.sale_chnl) AS sale_chnl_nm,
                a.sale_chnl,
                a.scrt_num,
                a.rest_num,
                a.asgn_hdlv,
                a.zip,
                a.bas_addr,
                a.dtl_addr,
                a.inline_num,
                a.mov_phon_num,
                a.home_phon_num,
                a.offc_phon_num,
                a.user_id,
                a.mtgate_eqp,
                b.org_id,
                b.org_nm,
                b.org_cd,
                b.prent_org_id,
                b.prent_org_cd,
                b.prent_org_nm,
                b.mkt_div_org_id,
                b.org_typ_cd,
                (select lcl_nm from tg_cd_mst where lcl_cd = 'DILV_CORP_TYPE' and cd_val = a.asgn_hdlv) AS asgn_hdlv_nm,
                case a.sale_chnl  when '' then  case b.mktg_org_lvl_cd  when ''  then  '00'  else b.mktg_org_lvl_cd end  else a.sale_chnl end mktg_org_lvl_cd,
                a.aprv_op_st,
                b.aprv_op_st as aprv_org_st,
                a.sub_org_id,
                a.co_cl_cd,
                a.tmp_post_org,
                a.user_actvn_st_cd,
                a.upd_dt,
                a.pwd_upd_dt,
                a.pwd_enc_use_yn,
                b.post_use_yn,
                a.SALE_BR_ORG_CD,
                (SELECT CONCAT(IFNULL(BAS_ADDR, ''),IFNULL(DTL_ADDR, '')) FROM TG_ORG_INFO WHERE ORG_CD = SUBSTR(a.SALE_BR_ORG_CD,0,6) AND SUB_ORG_CD = SUBSTR(a.SALE_BR_ORG_CD,7)) P_ADDR,
                (SELECT KAIT_SALE_BR_NM FROM TG_KAIT_AUTH_SALE_BR WHERE ORG_CD = SUBSTR(SALE_BR_ORG_CD,0,6) AND KAIT_SALE_BR_ONAPRV_YN ='Y' AND PTN_OP_ST_CD ='01') KAIT_SALE_BR_NM,
                (SELECT KAIT_SALE_BR_MGMT_CD FROM TG_KAIT_AUTH_SALE_BR WHERE ORG_CD = SUBSTR(SALE_BR_ORG_CD,0,6) AND KAIT_SALE_BR_ONAPRV_YN ='Y' AND PTN_OP_ST_CD ='01') KAIT_SALE_BR_MGMT_CD
        from tg_user a, tg_org_info b
        where a.org_id = b.org_id
          and a.login_id = #{login_id}
    </select>

    <insert id="insertLoginLog" parameterType="LoginLog" >
        INSERT INTO TG_LOGIN_LOG_MGMT (
                                        LOGIN_SEQ
                                      , LOGIN_ID
                                      , LOGIN_NORM_YN
                                      , LOGIN_MSG
                                      , LOGIN_RLSE_OBJ_YN
                                      , IP_ADDR
                                      , BROWSER
                                      , SESSION_ID
                                      , CRE_DT
                                      , CRE_NM
        )
        VALUES (
                lpad(tshop.nextval('TG_LOGIN_LOG_SEQ') , 9, '0')
               , upper(#{login_id})
               , #{login_norm_yn}
               , #{login_msg}
               , 'N'
               , #{ip_addr}
               , #{browser}
               , #{session_id}
               , sysdate()
               , #{login_id}
               )
    </insert>

    <select id="getExceptionIdCnt" parameterType="String" resultType="int">
        SELECT COUNT(*) From tg_cd_mst a, tg_user b
        WHERE  b.login_id = upper(#{login_id})
          AND b.user_id = a. lcl_nm
          AND a.USE_YN = 'Y'
          AND a.lcl_cd = 'LOGIN_EXCEPTION_USER_ID'
    </select>

    <select id="updLoginRlseObjYN" parameterType="String" >
        UPDATE TG_LOGIN_LOG_MGMT
        SET LOGIN_RLSE_OBJ_YN = NULL
          ,UPD_DT = SYSDATE()
          ,UPD_NM = 'Success Del'
        WHERE 1=1
          AND LOGIN_ID = upper(#{login_id})
          AND LOGIN_RLSE_OBJ_YN IS NOT NULL
    </select>


</mapper>