<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content"
>
<head>
    <title>테스트 페이지</title>
</head>

<body>
<div id="contents" class="contents">
    <!-- content -->
    <div class="my_area">
        <span class="name"><span>홍길동</span> 님</span> <span>(상담실장)</span>
        <a href="#" class="logout">로그아웃</a>
    </div>

    <h2 class="h_tit2">사용자 서식 신청 내역</h2>
</div>

</body>
</html>