@charset "utf-8";

/* ==========================================================================
   Component Style
   ========================================================================== */

/* Typo & Color */
body {margin:0; padding:0; font:normal 12px/1.5 Dotum; color:#666;}
table {width:100%; border-collapse:collapse}

/* utility */
.pull-left {float:left;}
.pull-right {float:right}
.clear {clear:both}
.bold {font-weight:bold !important; }
.text-left {text-align:left !important;}
.text-right {text-align:right !important;}
.text-center {text-align:center !important;} 
.small {font-size:.9em}
.ellipsis {display:block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -moz-binding:url('ellipsis.xml#ellipsis');}
.break {-ms-word-break:break-all; word-break:break-all; word-break:break-word;}
.st01 { color:#0085ff !important; font-weight:400; }
.st01A { color:#0085ff !important; text-decoration:underline; }
.st02 { color:#e34098 !important; font-weight:600; }
.st03 { color:#ff6600 !important; font-size:0.917em; }
.st04 { color:#687c90; font-size:0.917em; }
.st04 em { font-size:1.091em; color:#687c90; }
.st05 { color:#666; font-size:0.917em; letter-spacing:-1px; }
.st05 em { font-size:1.091em; color:#666; }
.emp1 {color:#2d7fcb !important}
.emp2 {color:#e40013 !important}
.emp3 {color:#ff8728 !important}
.emp4 {color:#ec1a41 !important}
.none { color:#666; font-size:0.917em; }
.stNum { color:#666 !important; font-size:0.917em; }
.stName { color:#666 !important; font-size:1em; }
.stName strong { display:block; }
.bgFile { padding-right:17px; background:url('../img/common/btn/btnDown.gif') no-repeat right center;}
.widthS {width:50% !important;}
.widthM { width:80% !important; }
.widthL { width:97% !important; }
.alignT { vertical-align:top; }
.alignC { padding-left:0px !important; text-align:center !important;}
.alignL { padding-left:10px !important; text-align:left !important; }
.mgt5 { margin-top:5px !important}
.mgr5 { margin:0 5px 0 2px; }
.mgl10 {margin-left:10px !important}
.mgl20 {margin-left:20px !important}
.mgl60 {margin-left:60px !important}
.mgr0 {margin-right:0 !important}
.mgr20 {margin-right:20px !important}
.mgb30 {margin-bottom:30px !important;}
.mgb0 {margin-bottom:0 !important}
.mgt10 {margin-top:10px !important;}
.mgt20 {margin-top:20px !important;}
.mgt30 {margin-top:30px !important;}
.mgt0 {margin-top:0 !important}
.excla { margin:37px 0 15px 0 !important; padding-left:20px; vertical-align:middle; background:url('../img/common/ico/icoExclamation.gif') no-repeat left 4px; }
.hide {display:none}
.inline-helper {display:inline; font-size:.9em}
.dib { display: inline-block; }

caption { display:none; width:0; height:0; visibility:hidden; font-size:0; line-height:0; }
em, a { font-style:normal; text-decoration:none; color:#666; }
button { margin:0px; padding:0px; background:none; border:0px; }

	






/* ==========================================================================
   TABLE
   ========================================================================== */
  
/* list */
.bbsAction p { margin:0px; }
.bbsAction p.txtB { color:#4f565b; font-weight:600; }
table.alignC th, table.alignC td { padding-left:0px; text-align:center; }	
.tableList { max-width:100%; border-top:2px solid #ff8728; margin-bottom:20px}
.tableList01 { border-top:1px solid #687c90; }
.tableList02 { border-top:2px solid #708599; }
.tableList04 { border-top:1px solid #0085ff; }
thead tr.thead-dark	{background:#f4f4f4; border:1px solid #e4e4e4;}
tr.bot-line th, tr.bot-line td {border-bottom:1px solid #909090 !important}
table span {vertical-align:middle}
.fixed {table-layout:fixed;}
	.alignL tbody td { padding:9px 15px 10px 15px !important; text-align:left !important; }
	.alignC tbody td { text-align:center !important; }

	.bbsType01 { table-layout:fixed; width:100%; border-bottom:1px solid #b2c1cf; border-collapse:collapse;}
		.bbsType01 thead th { height:38px; text-align:center; color:#666; font-weight:600; background:url('../img/common/bg/bgTh_line.gif') no-repeat right top; border-bottom:1px solid #b2c1cf; }
		.bbsType01 thead th.last { background:none; }
		.bbsType01 tbody tr.new th, .bbsType01 tbody tr.new td { color:#000; background-color:#fffaf5; border-bottom:1px solid #f1e1d4; } 
			.bbsType01 tbody tr.new td, .bbsType01 tbody tr.new td a { color:#000; }
		.bbsType01 tbody tr.last th, .bbsType01 tbody tr.last td { border-bottom:none; }
		.bbsType01 tbody td {padding:9px 2px 10px 5px; max-width:450px; text-align:center; color:#666; border-bottom:1px solid #e6e9ee; }
		.bbsType01 tbody td.alignL { padding-left:15px; text-align:left; }
		.bbsType01 tbody td.tit, .bbsType01 tbody td.tit a { color:#000 !important; }
		.bbsType01 tbody td.alignL em.icoimg { display:inline-block; margin-left:6px; }
		.bbsType01 tbody td em.imgBox { display:inline-block; margin-right:5px; }
	
	.bbsType02 { width:100%; border-bottom:1px solid #b2c1cf; border-collapse:collapse;}
		.bbsType02 tbody th { padding-left:15px; height:38px; text-align:left; color:#000; font-weight:600; letter-spacing:-1px; background-color:#f7f7f7; border-bottom:1px solid #e6e9ee; }
		.bbsType02 tbody td { padding:9px 10px 10px 15px; text-align:left; color:#666; border-bottom:1px solid #e6e9ee; }
		.bbsType02 tbody td label.radio-label:first-child {padding-left:0;}
		.bbsType02 tbody td label.check-label:first-child {padding-left:0;}
		.bbsType02 tbody td.title { color:#000 !important; }
		.bbsType02 tbody td.multiple { padding-top: 15px; padding-bottom: 15px; }
		.bbsType02 tbody tr.last th, .bbsType02 tbody tr.last td { border-bottom:0px;}

	.bbsType03 { width:100%; }
		.bbsType03 thead th { padding:5px 0 0 0; height:24px; background:#f9fbfd; border-right:1px solid #e6e9ee; border-bottom:1px solid #b2c1cf; font-size:0.917em; color:#708599; }
		.bbsType03 thead th.last { border-right:0px;}
		.bbsType03 tbody th { padding-left:10px; text-align:left; color:#0085ff; border-right:1px solid #e6e9ee; border-bottom:1px solid #e6e9ee; }
		.bbsType03.thBlue tbody th { padding-left:0px; background-color:#f9fbfd; text-align:center; }
		.bbsType03 tbody tr.last th, 
		.bbsType03 tbody tr.last td, 
		.bbsType03 tbody th.last, 
		.bbsType03 tbody td.last { border-bottom:1px solid #b2c1cf; }
		.bbsType03 thead th.lastR, 
		.bbsType03 tbody th.lastR, 
		.bbsType03 tbody td.lastR { border-right:0px; }
		.bbsType03 tbody td { padding:010px; border-bottom:1px solid #e6e9ee; border-right:1px solid #e6e9ee; }
		.bbsType03 tbody td ul { margin-bottom:0px !important; }
		.bbsType03 tbody td.lastCon { padding:0px; text-align:center; font-size:0.917em; border-right:0px; font-weight:600; color:#999; }
		.bbsType03 tbody td.lastCon span { margin-top:7px; display:block; }

	.bbsType04 { width:100%; border-bottom:1px solid #b2c1cf; }
		.bbsType04 thead th, .bbsType04 tbody th { height:36px; text-align:center; color:#111; font-weight:600; border-right:1px solid #e4e4e4; border-bottom:1px solid #e4e4e4; border-left:1px solid #e4e4e4; background-color:#f4f4f4; }
		.bbsType04 thead th .th-sub, .bbsType04 tbody th .th-sub {font-weight:normal}
		.bbsType04 tbody th.separate {border-right:1px solid #989898}
		.bbsType04 tbody th, .bbsType04 tbody tr.separate td {border-bottom:2px solid #989898}

		.bbsType04 tbody td { padding:9px 0 10px 0; text-align:center; color:#111; border-right:1px solid #e4e4e4; border-bottom:1px solid #e4e4e4; }
		
		.bbsType04 tbody td.data {font-weight:bold}
		.bbsType04 tbody td.radio *{ vertical-align:middle; }
		.bbsType04 tbody td.rec-radio label { margin-right:10px; }
		.bbsType04 tbody td.rec-radio input { margin:0 5px 3px 5px; padding:0 0 0 5px; vertical-align:middle; }
		.bbsType04 tbody td.rec-radio input:first-child { margin-left:0px; }
		.bbsType04 tbody td textarea+p { margin:0; padding-right:10px; text-align:right; }
		.bbsType04 .last { border-right:none; }	
		.bbsType04 .lastBorder { border-bottom:1px solid #e4e4e4; }	
	
	.bbsType05 { width:100%; border:1px solid #e4e4e4; table-layout:fixed; }
		.bbsType05 tbody th { padding-left:12px; height:38px; text-align:left; color:#333; font-weight:600; background-color:#f4f4f4; border-right:1px solid #e4e4e4; border-bottom:1px solid #e4e4e4; }
		.bbsType05 tbody td { padding:5px 0 5px 11px; font-size:1em; text-align:left; color:#666; border-right:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4; }
		.bbsType05 tbody td label { margin-right:20px; }
		.bbsType05 tbody td label.radio-label {margin-right:4px; margin-left:0; letter-spacing:-1px}
		.bbsType05 tbody td label.radio-label:first-child {margin-left:0; padding-left:0}
		.bbsType05 tbody td label.radio-label + select {margin-top:-4px}
		.bbsType05 tbody td label.radio-label + select + select {margin-top:-4px}
		.bbsType05 tbody td .hasDatepicker {margin-top:-4px}
		.bbsType05 tbody td .ui-datepicker-trigger {margin-top:-2px}
		.bbsType05 tbody td ul { margin:0; padding:0; list-style-type:none; }
		.bbsType05 tbody tr.detail-search {display:none}
		.bbsType05 tbody td.foot {padding:10px 20px;text-align:center; background-color:#f0f4f7;}
		.bbsType05 tbody td.foot .btn-search {float:right; margin-left:4px}
		.bbsType05 tbody td.foot ol {float:left; display:block; list-style:none; margin:0;padding:0; text-align:left;}
		.bbsType05 tbody td.foot ol li {font-size:12px}
		.bbsType05 tbody td.foot .check-label { color: #333; line-height: 28px; }

		.bbsType05 .lastBorder { border-bottom:1px solid #e4e4e4; }
		
	.bbsType06 { width:100%; border-bottom:1px solid #b2c1cf; }
		.bbsType06 thead th { height:29px; text-align:center; color:#687c90; font-size:0.917em; font-weight:600; border-bottom:1px solid #b2c1cf; background:#f9fbfd url('../img/common/bg/bgTh_line.gif') no-repeat right center; }
		.bbsType06 thead th.last { background-image:none; }
		.bbsType06 tbody th { padding:9px 0 10px 0; color:#0085ff; font-weight:400; border-right:1px solid #e6e9ee; border-bottom:1px solid #e6e9ee; }
		.bbsType06 tbody tr.last th, .bbsType06 tbody tr.last td { border-bottom:1px solid #b2c1cf; }
		.bbsType06 tbody td { padding:9px 0 10px 0; text-align:center; color:#666; border-right:1px solid #e6e9ee; border-bottom:1px solid #e6e9ee; }
		.bbsType06 tbody td dl { margin:10px 0; width:100%; text-align:left; }
		.bbsType06 tbody td dl dt { margin-left:15px; padding:0; display:inline-block; width:30px; }
		.bbsType06 tbody td dl dd { margin:0; padding-left:8px; display:inline-block; width:200px; background:url('../img/common/bul/bul-squareGray.gif') 0 7px no-repeat; }
		.bbsType06 tbody td dl dd ul, .bbsType06 tbody td dl dd ul li { margin:0px; padding:0px; list-style:none; }
		.bbsType06 tbody td dl dd ul li { padding-left:8px; background:url('../img/common/bul/bul-squareGray.gif') 0 7px no-repeat;]}
		.bbsType06 tbody th.last { border-bottom:0px; }
		.bbsType06 tbody td.last { border-right:none; }				
		.bbsType06 tbody td.alignL-bul { padding:9px 15px 10px 17px !important; vertical-align:top; background:url('../img/common/bul/bul-squareGray.gif') 8px 17px no-repeat; text-align:left; }
		.bbsType06 tbody td ul.alignL-bul li { padding-left:10px; background:url('../img/common/bul/bul-squareGray.gif') 0px 8px no-repeat; }
	
	.bbsType07 { width:100%; }
		.bbsType07 tbody th { height:32px; text-align:center; color:#666; font-weight:400; background-color:#f9fbfd; border-right:1px solid #b2c1cf; border-bottom:1px solid #e6e9ee; }
		.bbsType07 tbody td { text-align:center; color:#0085ff; border-bottom:1px solid #e6e9ee; font-size:0.917em; }
		
	.imgList { padding:35px 15px 0 15px; overflow:hidden; border-bottom:1px solid #b0cbe5; line-height:95%; }
		.imgList li { margin-right:35px; padding-bottom:40px; width:200px; float:left; overflow:hidden; }
		.imgList li.last { margin-right:0px; }
		.imgList li a { display:inline-block; width:200px; height:120px; background:url('../img/common/bg/imgAnycar.gif') no-repeat; }
		.imgList li dl { margin:18px 0 0 0; }
		.imgList li dl dt { margin-bottom:10px; color:#0085ff; font-weight:600; }
		.imgList li dl dd { margin:0px; padding:0px; }
		.imgList li dl dd span { margin-top:12px; display:block; color:#b1b1b1; }
	
	.hBold tbody th { color:#005dab; font-weight:400; }
	.bbsType05 tbody td.picCon { padding-left:0px; text-align:center; }
		.picCon span.img { display:inline-block; width:108px; height:146px; border:1px solid #e5e5e5; overflow:hidden; background:url('../img/content/recruit/picImg01.png') }
	
	tr.inner-table > td {padding:0}
	tr.inner-table table.inner th {background:none; border-right:1px solid #E6E9EE;}
	tr.inner-table table.inner td.border {border-right:1px solid #E6E9EE}


	td .complete {color:#ec1a41;}
	td.address > div {margin:6px 0 8px}
	
	.fixed-label {float:left;display:block;margin-top:2px; width:120px; font-weight:bold;}
	.phone-label {float:left;display:block;margin-top:4px; width:60px;}
	input.phone { width:50px; text-align:center; padding:5px 0 3px 0 !important}
	input.disabled {border:none;background:none;}
	input[disabled] {background-color: #f5f5f5;}
	

	.bbsHelper {float:left;}

/* gallery table */
.bbsGallery { margin:0px; padding:20px 0 0 0; overflow:hidden; border-bottom:1px solid #b2c1cf; }
	.bbsGallery li { margin:0 16px 20px 0; padding:10px; position:relative; float:left; width:200px; height:200px; overflow:hidden; background:url('../img/common/bg/bgGalleryList.png') bottom repeat-x; border-top:1px solid #b2c1cf; border-left:1px solid #b2c1cf; border-right:1px solid #b2c1cf; }
	.bbsGallery li.last { margin-right:0px; }
	.bbsGallery li a { display:inline-block; width:200px; height:120px; background-color:#708599; }
	.bbsGallery li h2 { margin:10px 0 5px 0; font-size:1.0em; color:#333; }
	.bbsGallery li dl { margin:0px; overflow:hidden; font-size:0.917em; }
	.bbsGallery li dl dt { display:inline-block; width:20%; }
	.bbsGallery li dl dd { margin:0px; display:inline-block; width:75%; }
	.bbsGallery li em { position:absolute; right:5px; bottom:5px; color:#0085ff; font-size:0.917em; }
	
	.bbsGallery.people li { height:180px; }
	.bbsGallery.people li p { margin:0px; }
	

.bbsImg .bbsImgCon { margin-bottom:45px; padding:20px; border:5px solid #eee;}
	.bbsImg .bbsImgCon img {max-width:100%;}
	.bbsImg .bbsImgCon dl { margin:0px; text-align:left; line-height:160%; }
	.bbsImg .bbsImgCon dl dt { padding-left:10px; display:inline-block; color:#0085ff; width:8%; background:url('../img/common/bul/bul-squareGray.gif') 0 7px no-repeat; font-weight:600; }
	.bbsImg .bbsImgCon dl dd { margin:0px; display:inline-block; width:85%; }


/* Veiw */
.bbsContent { position:relative; overflow:hidden; margin-bottom:20px; border-top:2px solid #ff8728;}
	.bbsContent h2.tit { margin:0px; padding:15px 75px 10px 15px; height:32px; font-size:1.167em; color:#005dab; font-weight:600; background-color:#f9fbfd; }
	.bbsContent h2.tit em { margin-right:10px; display:inline-block; font-weight:600; color:#0085ff; }
	.bbsContent h2.tit a { vertical-align:top; }
	.bbsContent .btnTit { margin:0px; position:absolute; top:15px; right:10px; list-style:none; }
	.bbsContent .btnTit li { margin-left:2px; width:26px; float:left; }
	.bbsContent div.bbsTitle { position:relative; border-bottom:1px solid #999; overflow:hidden; }
	.bbsContent div.bbsTitle dl { margin:0px; padding:12px 0 12px 16px; }
	.bbsContent div.bbsTitle dl dt, .bbsContent div.bbsTitle dl dd { margin:0px; display:inline-block; vertical-align:top; font-size:1em; color:#666; }
	.bbsContent div.bbsTitle dl dt { width:70px; padding:0 5px; color:#111; font-weight:500; background:url('../img/common/bg/bgTh_line.gif') no-repeat right center; }	
	.bbsContent div.bbsTitle dl dd { margin:0 10px 0 20px; max-width:600px; font-weight:bold; color:#111; }
	.bbsContent div.bbsTitle dl dd.num {font-weight:normal}
	.bbsContent div.bbsTitle .bbsTcon { padding:0px; height:auto; position:absolute; top:13px; right:15px; }
	.bbsContent div.bbsTitle.subInfo {margin:30px 0; border-top:1px solid #d9d9d9; border-bottom:1px solid #999}
	.bbsContent .bbsCon { padding:20px; }
	.bbsContent .bbsImg { padding:40px; text-align:center; }
	.bbsContent img {max-width:100%;}
	.bbsContent .bbsCon p {margin:0;}
	.bbsContent .bbsCon strong { display:block; margin-bottom:20px; }
	.bbsContent .bbsCon em { display:block; text-align:right; }
	.bbsContent .sumTxt { margin:0px; padding:10px 15px; border-top:1px solid #999; border-bottom:1px solid #999; }
	.bbsContent .sumTxt dt { display:inline-block; width:70px; padding:0 5px; background:url('../img/common/bg/bgTh_line.gif') right center no-repeat; color:#000; }
	.bbsContent .sumTxt dd { margin:0px; padding-left:5px; display:inline-block; width:600px; color:#666; }
	.bbsContent .sumTxt dt img {vertical-align:middle; margin-right:5px;}
	
	.bbsContent .sumTxt.txtPrev { border-bottom:0px; }	
	.bbsContent .sumTxt.txtNext { border-top:1px solid #d9d9d9; }
	.bbsContent .sumTxt.txtPrev img {margin-top:-1px}

/* Write */
.viewBox { overflow:hidden; }
	.viewBox .tit { margin:30px 0 15px 2px; display:block; font-size:1.333em; color:#0085ff; }
	.viewBox ul { margin:0 0 35px 2px; padding:0px; list-style:none; }
	.viewBox ul li { margin-bottom:3px; padding-left:8px; background:url('../img/common/bul/bul-squareGray.gif') 0 6px no-repeat; font-size:0.917em; }
	.viewBox .bbsType02 tbody td { position:relative; }
	.viewBox .bbsType02 tbody td p { margin-bottom:5px; }
	.viewBox .bbsType02 tbody td span {}
	.viewBox .bbsType02 tbody td span.alone { padding:5px 10px 0 0; display:block; position:static; text-align:right; }

/* Pagination */
.pageNav { margin:30px 0; font:normal 11px/1.1 Arial; text-align:center; }
	.pageNav a { display:inline-block;padding:7px 9px 5px; text-decoration:none; color:#666; border:1px solid #ebebeb; background:#FFF; font-weight:500; vertical-align:baseline;}
	.pageNav span.current {display:inline-block;padding:7px 9px 5px; border:1px solid #ededed; color:#FFF; background:#ff8728; font-weight:500; vertical-align:baseline;}
	.pageNav a:hover {background:#f8f8f8;}
	.pageNav a.util { font-weight:400;}
	.pageNav a.util:hover {background:#f1f1f1;}	
	.pageNav a.first, .pageNav a.last {vertical-align:top; padding-top:4px; padding-bottom:5px; font-size:13px; line-height:15px; }
	.pageNav a.prev, .pageNav a.next  {font-size:11px;}
	.pageNav a.prev {margin-right:9px;}
	.pageNav a.next  {margin-left:9px;}


	/* jqgrid pagination */
	.ui-jqgrid-pager .pageNav a { padding:7px 6px 5px; }
	.ui-jqgrid-pager .pageNav span.current {padding:7px 6px 5px; }
	.ui-jqgrid-pager .pageNav a.util { padding:7px 9px 5px }
	.ui-jqgrid-pager #first_annPager {padding:7px 9px 5px}
	.ui-jqgrid-pager #prev_annPager {padding:7px 9px 5px}
	.ui-jqgrid-pager .pageNav a.first, .ui-jqgrid-pager .pageNav a.last {padding-top:4px; padding-bottom:5px; }
	.ui-jqgrid-pager #pgarea_annPager, .ui-jqgrid-pager #pgarea_pageNavi, .ui-jqgrid-pager #pgarea_itemPager {vertical-align:top}
	
	

/* ==========================================================================
   button
   ========================================================================== */
  
.btnArea { margin:20px 0 0 0; position:relative; text-align:right;  }
.btnArea.alignC { text-align:center; }
.btnArea .areaL { position:absolute; top:0px; left:0px; }
.btnArea a { }
.btnArea button { height:30px; display:inline-block; text-align:center; }
.btnArea input { width:155px; height:32px; display:inline-block; text-align:center; }
.btnWhite { background:url('../img/common/btn/btnWhite.gif') repeat-x; }
.btnBlue { padding:0 30px; background:url('../img/common/btn/btnBlue.gif') repeat-x; border:1px solid #627587; color:#fff !important; font-weight:600 }
a.btnBlue:hover, a.btnBlue:focus { background:url('../img/common/btn/btnBlue.gif') 0 -31px repeat-x; }
.btnOrange { background:url('../img/common/btn/btnOrange.gif') repeat-x; border:1px solid #ff5400; color:#fff !important; }
.btnArea .btnWhiteA { padding:5px 10px 0 10px; background:url('../img/common/btn/btnWhite.gif') repeat-x; border:1px solid #bcbcbc; color:#666 !important; font-weight:600; }
.btnArea .btnWhiteB { padding:3px 10px 3px 10px; background:url('../img/common/btn/btnWhite.gif') repeat-x; border:1px solid #bcbcbc; color:#666 !important; font-weight:600; }
.btnWhite:hover, .btnWhite:focus,
.btnArea .btnWhiteA:hover, .btnArea .btnWhiteA:focus,
.btnArea .btnWhiteB:hover, .btnArea .btnWhiteB:focus { background:url('../img/common/btn/btnWhite.gif') 0 -31px repeat-x; }
.btnArea .btnBlueA { padding:5px 10px 0 10px; background:url('../img/common/btn/btnBlueA.gif') repeat-x; border:1px solid #317ebe; color:#fff !important; font-weight:600; }
.btnArea .btnBlueB { padding:0 30px 0 30px; background:url('../img/common/btn/btnBlueA.gif') repeat-x; border:1px solid #317ebe; color:#fff !important; font-weight:600; }
.btnArea .btnBlueC { padding:3px 10px 3px 10px; background:url('../img/common/btn/btnBlueA.gif') repeat-x; border:1px solid #317ebe; color:#fff !important; font-weight:600; }
.btnArea .btnBlueD { padding:5px 0 0 0; width:150px; background:url('../img/common/btn/btnBlueA.gif') repeat-x; border:1px solid #317ebe; color:#fff !important; font-weight:600; }
.btnArea .btnBlueA:hover, .btnArea .btnBlueA:focus,
.btnArea .btnBlueB:hover, .btnArea .btnBlueB:focus,
.btnArea .btnBlueC:hover, .btnArea .btnBlueC:focus,
.btnArea .btnBlueD:hover, .btnArea .btnBlueD:focus { background:url('../img/common/btn/btnBlueA.gif') 0 -31px repeat-x; }
.btnBlueBorder { padding:5px; color:#0085ff !important; border:1px solid #0085ff; }

.bbsAction { padding:15px 15px; position:relative; overflow:hidden; text-align:left; background-color:#f0f4f7; border:1px solid #c7c7c7; }
.bbsAction div { overflow:hidden; text-align:center;}
.bbsAction div .select01 { margin-right:5px; height:24px; }
.bbsAction .small {color:#555}
.bbsAction1 {margin:21px 0 10px; text-align:center;}
.bbsAction2 {margin:20px 0 10px; text-align:right;}
.bbsAction2 > select {float:left; margin-top:7px; }
.bbsAction2.atBottom {margin:18px 0 30px;}
.bbsAction p > .check-label:first-child {padding-left:0}

form .bbsAction2 {margin-top:0}
.bbsAction02 { margin-top:5px; position:relative; overflow:hidden; }
	.bbsAction02 * { vertical-align:bottom; }
	.bbsAction02 a { display:inline-block; }
	.bbsAction02 input[type="image"] { margin:0 !important; padding:0 !important; display:inline-block; }
	.bbsAction02 .btnAlignR { position:absolute; top:4px; right:0px; }
	.bbsAction02.alignR { text-align:right !important; }
	.bbsAction02.alignR a { margin-right:5px; padding-right:10px; background:url('../img/content/recruit/bg_bbsAction02.png') right bottom no-repeat; }

.bbsAction3 {float:right;}
	.list-count {vertical-align:middle; margin:0 12px; color:#000; font-size:14px; font-weight:bold; line-height:14px}
	.list-count em {color:#ec1a41;}

.bbsAction3 {float:right;}

.bbsFilterB {margin:20px 0 25px; padding:18px 19px 8px; font-size:.9em; border:1px solid #c7c7c7;}
.bbsFilterB .check-label {display:inline-block; margin-bottom:10px; padding-top:0; letter-spacing:-1px; white-space:nowrap}


/* 2016-05-02 추가 */
.bbsFilterA { position: relative; margin:20px 0 25px; padding: 11px 20px 11px; background-color: #f7f7f7; }
.bbsFilterA .check-label {display:inline-block; margin-right: 5px; margin-left: 5px; padding:0; letter-spacing:-1px; white-space:nowrap}
.bbsFilterA .btns { position: absolute; top: 22%; right: 20px; margin-top: -15px; }
.bbsFilterA ul { padding: 0; }
.bbsFilterA ul > li { position: relative; padding-left: 10px; font-size: 1.083em; list-style: none; color: #333; line-height: 24px; }
.bbsFilterA ul > li:before { content: ''; display: block; position: absolute; top: 50%; left: 0; margin-top: -2px; height: 3px; width: 3px; background-color: #939393; }


.btnArea01 { margin-top:40px; overflow:hidden; text-align:center; }
	.btnArea01 input { margin:0px; padding:1px 0 0 0; background:none; border:0px;}
	.btnArea01 .processPrev { padding-left:15px; width:155px; height:32px; background:url('../img/content/recruit/processPrev.png') no-repeat; color:#666; font-weight:600; }
		.btnArea01 .processPrev:hover, .btnArea01 .processPrev:focus { background-position:0 -33px; }
	.btnArea01 a.processNext { padding:7px 0 4px 0; display:inline-block; height:22px; text-align:center; }
	.btnArea01 .processNext { padding-right:15px; width:155px; height:32px; background:url('../img/content/recruit/processNext.png') no-repeat; color:#fff; font-weight:600; }
		.btnArea01 .processNext:hover, .btnArea01 .processNext:focus { background-position:0 -33px; }
		

.btn {vertical-align:middle; overflow:hidden; display:inline-block; margin-top:/*-2px*/0; padding:8px 16px 8px; line-height:12px; font:bold 12px Dotum,"돋움"; border:none;}
.btn.pull-right {margin-left:4px}
.btn > img {vertical-align:baseline; margin-bottom:-1px; border:none;}
	.btn-red {color:#FFF; background:#ec1a41;}
	.btn-gray {color:#FFF; background:#888;}
	.btn-orange {color:#FFF; background:#ff8728;}
	.btn-black {color:#FFF; background:#2e2e2e;}
	.btn-white {color:#000; background:#FFF; border:1px solid #ccc}
	.btn-search {padding:8px 10px 7px; color:#FFF; font-size:11px; height:13px; background:#666; box-sizing:content-box;-moz-box-sizing: content-box;}
	.btn-search > img {margin-bottom:-2px}
	.btn-search.btn-orange {color:#FFF; background:#ff8728;}

	.btn-sm {padding:5px 8px 3px; height:13px; color:#333; background:#eee url(../img/common/btn/bg_btn.png) repeat-x; border:1px solid #cecece; box-sizing:content-box;-moz-box-sizing: content-box;}
	.btn-sm.img { margin-right: -5px; }
	.btn-sm.img > img { display: inline-block; vertical-align: middle; margin: -2px 0 0 0; }
	.btn-small {padding:8px 4px 7px; font-weight:normal;}

	.btn-collapse {padding-left:20px; background:url(../img/common/ico/collapse.png) 0 9px no-repeat; outline:0;}
	.btn-collapse.collapse-open {}
	.btn-collapse.collapse-close {background-position:0 -19px;}

.bbsListCount {overflow:hidden; margin:15px 0 10px}
.bbsListCount .list-count {float:right; margin-top:11px}
.bbsListCount .select01 {vertical-align:bottom;}
.bbsETC {position:relative; margin:10px 0; }
.bbsETC .pageNav {margin:15px 0;}
	.bbsETC-util {position:absolute; right:0; top:0;}


/* ==========================================================================
   tabMenu
   ========================================================================== */
  
.tabmenu { overflow:hidden; list-style:none; margin:10px 0 30px; padding:0; min-height:35px; background:url(../img/common/bg/bg_tab_line.png) 0 bottom repeat-x;}
	.tabmenu li { float:left; position:relative; margin:3px 1px 1px 0; padding-left:4px; background:url(../img/common/bg/tab.png) 0 0 no-repeat;}
	.tabmenu li span, .tabmenu li a { display:block; margin:0 0 0 1px; padding:10px 15px 10px 11px; height:13px; line-height:16px; color:#333; font-weight:normal; text-align:center; background:url(../img/common/bg/tab.png) 100% 0 no-repeat; cursor:pointer}	
	.tabmenu li:first-child span, .tabmenu li:first-child a {margin-left:0;}
	.tabmenu li.current {background-image:url(../img/common/bg/tab_on.png); }
	.tabmenu li.current span, .tabmenu li.current a { display:block; margin:0 0 0 1px; padding:10px 15px 10px 11px; height:13px; line-height:16px; color:#333; font-weight:normal; text-align:center; background:url(../img/common/bg/tab.png) 100% 0 no-repeat; cursor:pointer}

.tabmenu01 { margin:0px; padding:0px; overflow:hidden; list-style:none; }
	.tabmenu01 li { padding:0px !important; background:none !important; float:left; border-top:2px solid #666; }
	.tabmenu01 li a { padding:10px 0; display:block; background-color:#f8fafc; color:#666; text-align:center; border-left:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; } /*border-top: 2px solid transparent; */
	.tabmenu01 li.last a { border-right:1px solid #e5e5e5; }
	.tabmenu01 li.on { border-top:2px solid #0085ff; }
	.tabmenu01 li.on a { background-color:#fff; color:#0085ff; font-weight:600; border-bottom:1px solid #fff; }

.tabmenu.fixed {margin-left:-1px;padding-left:1px;width:930px}
	.tabmenu.fixed li { margin:3px 0 1px -1px; padding-left:5px; width:89px; background:url(../img/common/bg/tab.png) 0 0 no-repeat;}
	.tabmenu.fixed li span, .tabmenu.fixed li a { overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -moz-binding:url('ellipsis.xml#ellipsis');}
	.tabmenu.fixed li:first-child a {margin-left:0;}
	.tabmenu.fixed li.current {background-image:url(../img/common/bg/tab_on.png);}
	.tabmenu.fixed li.current span, .tabmenu li.current a { color:#FFF; font-weight:bold; background-image:url(../img/common/bg/tab_on.png);}
	.ie7 .tabmenu.fixed li.current {}

.tabmenu li .btn-modify-tab {display:none; position:absolute; z-index:5; right:3px; top:9px; width:18px; height:18px; background:url(../img/common/ico/plus_white.png) 50% 50% no-repeat; cursor:pointer; }
.tabmenu li.current .btn-modify-tab {display:block; } 

.tabmenu .input-tab {margin-top:-4px; width:40px}

/* ==========================================================================
   popup
   ========================================================================== */
   .agreement-content { overflow: scroll; overflow-x: hidden; box-sizing: border-box; padding: 0 15px 15px 15px; height: 350px; width: 100%; border: 1px solid #d9d9d9; }
   .agreement-content .title { margin-top: 20px; font-size: 15px; font-weight: bold; }
   .agreement-content .inner-content { overflow: scroll; overflow-x: hidden; box-sizing: border-box; padding: 0 15px; height: 65px; width: 100%; border: 1px solid #d9d9d9; }
 
	.list-flexble { overflow: hidden; margin: 0 0 20px 0; padding: 0; width: 100%; border-top: 2px solid #ff8728; border-bottom: 1px solid #aaa; }
	.list-flexble > li { position: relative; float: left; list-style: none; margin: 0; padding: 0; width: 50%; }
	.list-flexble > li:nth-child(odd):before { content: ''; display: block; position: absolute; top: 0; right: -100%; left: 0; height: 1px; background-color: #e8e9ed; }
	.list-flexble > li label { display: inline-block; line-height: 38px; }
	.list-flexble > li input[type=checkbox] { margin-right: 10px; }
	.list-flexble > li button.btn { float: right; margin-top: 7px; margin-right: 20px; }

 /* common */
 .recruitPop p, .recruitPop ul, .recruitPop dl, .recruitPop li, .recruitPop dt .recruitPop, .recruitPop dd, .recruitPop ol { margin:0px; padding:0px; list-style:none; }
	.recruitPop .stPop01 { color:#005dab; }
	.recruitPop h1 { height:30px; margin:0; padding:10px 0 0 20px; font-size:14px; color:#fff; background:url('../img/common/bg/bgPopup.gif') repeat-x 0 0; }
	.recruitPop .alignC { text-aling:center; }
	.recruitPop .lineCon { margin-bottom:10px; padding-left:8px; background:url('../img/common/bul/bul-squareGray.gif') 0 7px no-repeat; }
	.recruitPop .close { position:absolute; top:10px; right:20px; }
	
	/* content */
	.recruitPop { position:relative; overflow:hidden; border:1px solid #666; }
	.recruitPop .popContent { padding:25px 20px; overflow:hidden;}
	.recruitPop .popContent .headCon { padding-bottom:10px; }
	.recruitPop .popContent ul.headCon li { padding-left:8px; background:url('../img/common/bul/bul-squareGray.gif') 0 7px no-repeat; }
	.recruitPop .popContent .recruit { padding:20px 0; text-align:center; border-top:2px solid #0085ff; border-bottom:1px solid #b2c1cf; }
		.recruitPop .popContent .recruit p:first-child { margin-bottom:23px; }
	.recruitPop .popContent .recruit01 { padding:45px 0; border-top:2px solid #0085ff; border-bottom:1px solid #b2c1cf; text-align:center; overflow:hidden; }
		.recruitPop .popContent .recruit01 strong { margin-bottom:20px; display:block; color:#000; font-size:1.167em; }
		.recruitPop .popContent .recruit01 span { display:inline-block; }
	.recruitPop .popContent .recruit02 { padding:20px 0; overflow:hidden; border-top:2px solid #0085ff; border-bottom:1px solid #b2c1cf;  }
		 .recruitPop .popContent dl.recruit02 { width:100%; }
		.recruitPop .popContent .recruit02 dt { margin-bottom:10px; padding-left:10px; display:inline-block; width:15%; font-weight:600; }
		.recruitPop .popContent .recruit02 dd { margin-bottom:10px; display:inline-block; width:80%; }
		.recruitPop .popContent .recruit02 dt.last, .recruitPop .popContent .recruit02 dd.last { margin-bottom:0px; }
	.recruitPop .popContent .recruitSearch { padding:20px 0; border-bottom:1px solid #b2c1cf; text-align:center; }
		.recruitPop .popContent .recruitSearch span { display:inline-block; vertical-align:middle;  }
		.recruitPop .popContent .recruitSearch+p, .recruitPop .popContent .recruit01+p { margin:20px 0 10px 0; padding-left:10px; }
	.recruitPop .popContent .searchBox { overflow:auto; width:414px; height:180px; padding:10px; border:1px solid #bcbcbc; background-color:#f7f7f7; }
		.recruitPop .popContent .searchBox dl { overflow:hidden; float:none;}
		.recruitPop .popContent .searchBox dt { clear:both; float:left; margin-bottom:5px; max-width:345px;}
		.recruitPop .popContent .searchBox dd {float:right;margin-bottom:5px}
		.recruitPop .popContent .searchBox a { color:#0085ff; text-decoration:underline; text-align:left;}
	.recruitPop .popContent .searchBox01 { overflow:auto; width:414px; height:180px; border:1px solid #bcbcbc; background-color:#f7f7f7; }
	.recruitPop .popContent .searchBox01 table { width:100%; border:0px; }
	.recruitPop .popContent .searchBox01 table td { padding:5px 0; border:0px; }
	.recruitPop .popContent .searchBox01 table td a { color:#0085ff; text-decoration:underline; }
		

	

/* ==========================================================================
   data table
   ========================================================================== */
.tablescroll_wrapper .tbl-data-v { margin: 0; border-top: 0; }
.tbl-data-v { margin-top: 20px; width: 100%; border-top: 2px solid rgb(255, 135, 40); }
.tbl-data-v thead {  }
.tbl-data-v thead th { padding: 0 2px 0 2px; height: 38px; color: #666; font-weight: 600; text-align: center; background-color: #fff; border: 0; border-bottom: 1px solid #b2c1cf; }
.tbl-data-v tbody tr { height: 50px; }
.tbl-data-v tbody td { overflow: hidden; padding: 7px 2px; height: 22px; color: #666; font-weight: normal; text-align: center; white-space: nowrap; text-overflow: ellipsis; border: 0; border-bottom: 1px solid #e6e9ee; }
.tbl-data-v .l { padding-left: 10px; text-align: left; }
.tbl-data-v.hover a:hover { color: #333; text-decoration: underline; }
.tbl-data-v.hover tbody tr:hover { background-color: #ebebeb; }

.pager { position: relative; }
.pager .left { position: absolute; top: -2px; left: 0; }
.pager .right { position: absolute; top: -2px; right: 0; }
.pager p { margin: 0; }


/* ==========================================================================
   FORM
   ========================================================================== */

/* text box */
input[type=image] { margin:0; padding:0px;}
.input { margin:0px; padding:5px 0 3px 5px !important; width:168px; height:13px; border:1px solid #bcbcbc; vertical-align:middle; font-size:12px; color:#666; }
.input.wBase { width:128px; }
.input.wShort { width:80px; }
.input01 { margin:0px; padding:0px 5px; width:114px; height:23px; border:1px solid #abadb3; vertical-align:middle; float:left; font-size:12px; color:#666; }
.input01:focus { border:1px solid #307ebe; outline:none }
.input-search {margin:0px; padding:5px 5px 3px; width:315px; height:16px; border:1px solid #abadb3; vertical-align:middle; font-size:12px; color:#666; }
.input-pop-txt {margin:0px; padding:6px 5px 4px; width:125px; height:16px; border:1px solid #abadb3; vertical-align:middle; font-size:12px; color:#666; }
.input-citizen {width:50px; }

.inputImg { vertical-align:middle; }
.inputSize01 { width:90%; }
.inputSize01A { width:80%; }
.inputSize02 { width:70%; }
.inputSize03 { width:50%; }
.inputSize04 { width:130px; }
.inputSize05 { width:80px; }
.inputSize06 { width:98%; }

.radio-label, .check-label {position:relative; margin-right:0; padding-left:14px; padding-top:1px; line-height:1.1}
.radio-label input, .check-label input {vertical-align:middle; margin-top:-3px;}
/*.radio-label input, .check-label input {position:absolute; left:0; top:0; }*/
/*
input[readonly] {border:none;}
input[readonly]:focus {border:none}
*/
.ui-datepicker-trigger {margin-left:4px; cursor:pointer}

.hasDatepicker {padding:5px 4px 2px; width:60px; vertical-align:middle; border:1px solid #bcbcbc;}

.input:focus, .input-search:focus, .input-pop-txt:focus, .input-citizen:focus, .hasDatepicker:focus { border:1px solid #666; outline:none }

/* sub */
.multiple-info { padding-top: 10px; }

/* text area */
.textarea { width:348px; height:128px; border:1px solid #bcbcbc; font-size:12px; color:#666; }
.textarea-block {width:857px}

/* select */
.select { width:88px; height:25px; border:1px solid #bcbcbc; vertical-align:middle; font-size:12px; color:#666; line-height:150%; box-sizing:content-box; -moz-box-sizing:content-box;}
.select:focus { border:1px solid #666; outline:none }
.select01 { margin-top:0; width:88px; height:19px; padding-top:1px; padding-bottom:1px; border:1px solid #b0cbe5; vertical-align:middle; font-size:12px; color:#666; box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}
.select01:focus { border:1px solid #307ebe; outline:none }
.select02 { margin:0px; padding:0px; width:168px; height:25px; border:1px solid #bcbcbc; vertical-align:middle; }
.select03 { padding:0px; width:400px; height:25px; border:1px solid #bcbcbc; }
.select04 { width:50px; }
.select05 { width:40px; }
.select06 { width:100px; }
.select07 { width:80%; }

/* bread crumbs */
.location { position:absolute; right:20px; top:15px; list-style:none; margin:0; padding:0; overflow:hidden; }
.location li { float:left; padding:0 10px 0 10px; font:normal 12px/1.1 Dotum,"돋움";  background:url('../img/common/ico/icoArrow.gif') 0 1px no-repeat;  }
.location .first { padding-left:0; background:none; }
.location li img {vertical-align:top; margin-top:-1px;}
.location a { color:#666; }
.location li.current a {font-weight:bold; color:#ec1a41;}

/* captcha */
.joinBox { overflow:hidden; }
	.joinBox .imgBox { margin-right:7px; float:left; width:302px; height:59px; overflow:hidden; border:1px solid #dfdfdf; }
	.joinBox .joinTxt { overflow:hidden; float:left; width:200px; }
		.joinBox .joinTxt strong { padding:12px 0 5px 0; display:block; color:#0085ff; font-weight:600; }
		.joinBox .joinTxt input { width:130px; }
		.joinBox .joinTxt a { margin-left:3px; display:inline-block; }

/* btn Selector */
.btnSelector {width:41px; height:25px; text-indent:-9999px; background:url(../img/common/btn/btn_selector.png) no-repeat;}
.btnSelector.pressed { background-position:0 -26px; }


/* ETC */
.attached h4 {margin:1.5em 0 .5em;}
.attached h4:first-child {margin-top:.5em}
.attached ul {margin:0;padding:0;list-style:none}
.attached li {margin-bottom:5px;}
.attached label {float:left;display:block; margin-top:3px; width:96px;}

.list-attached { width: 420px; border: 1px solid #ccc; }
.list-attached li { overflow: hidden; margin: 0; padding: 0 15px; line-height: 35px; }
.list-attached .btn-download { float: right; font-weight: bold; color: #000; text-decoration: underline; }

.combination-select { position: relative; display: inline-block; min-width: 150px;  }
.combination-select button { display: block; width: 100%; padding: 2px 0 2px 4px; font-size: 1.1em; font-weight: normal; color: #555555; text-align: left; border: 1px solid #aaaaaa; border-radius: 4px; background: #e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x; }
.combination-select button.selected { background: #ffffff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x; }

.combination-select button.selected + .list-multiselect { display: block; }
.combination-select .list-multiselect { display: none; overflow: scroll; overflow-x: hidden; position: absolute; top: 23px; right: 0; left: 0; padding: 5px 3px; max-height: 210px; border: 1px solid #aaaaaa; border-radius: 4px; background-color: #fff; }

.combination-select .list-multiselect ul { list-style: none; margin: 0; padding: 3px 0 0 0; }
.combination-select .list-multiselect ul.check { border-top: 1px dashed #c2c2c2; }
.combination-select .list-multiselect ul > li { height: 23px; }
.combination-select .list-multiselect ul > li label { display: block; padding: 3px 3px; border: 1px solid transparent; border-radius: 4px; }
.combination-select .list-multiselect ul > li label:hover { font-weight: normal; color: #212121; border: 1px solid #999; background: #dadada url(images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x; }
.combination-select .list-multiselect ul > li input { margin-right: 3px; }


/* ==========================================================================
   IE fix
   ========================================================================== */
/* IE 6 fix*/

/* IE 7 fix */
.ie7 .radio-label, .ie7 .check-label {position:static; zoom:1;}
.ie7 .radio-label input, .ie7 .check-label input {margin-top:0; zoom:1;}
.ie7 .btn {overflow:visible; margin-left:4px; zoom:1;}
.ie7 .ui-dialog .btn {padding:6px 3px 3px;}

.ie7 .btn > img {vertical-align:bottom; margin-bottom:1px}
.ie7 .btn-sm {vertical-align:middle; margin-left:4px; padding:4px 2px 2px; height:auto; }
.ie7 .btn-search {height:auto}
.ie7 .select01 {display:inline; height:22px; zoom:1;}
.ie7 input {zoom:1;}

.ie7 .bbsAction div .select01 {height:25px;}

.ie7 .bbsType02 tbody th {position:relative;/* padding-top:0; padding-bottom:0;*/}
.ie7 .bbsType02 tbody td {position:relative;/* padding-top:0; padding-bottom:0;*/}
.ie7 .bbsType02 tbody td input {}
.ie7 .textarea {}



.ie7 .bbsType05 tbody td label.radio-label {margin-right:0; margin-left:0; letter-spacing:-2px}
.ie7 .bbsType05 tbody td label.radio-label + .hasDatepicker {margin-left:3px;}
.ie7 .bbsType05 tbody td label.radio-label + select {margin-top:-2px}
.ie7 .bbsType05 tbody td label.radio-label + select + select {margin-top:-2px}
.ie7 .bbsType05 tbody td .hasDatepicker {margin-top:-2px}
.ie7 .bbsType05 tbody td .ui-datepicker-trigger {margin-top:-1px}

.ie7 .pageNav {zoom:1;}
.ie7 .pageNav a {zoom:1;}
.ie7 .pageNav a.first, .ie7.pageNav a.last {padding-top:3px; padding-bottom:7px;}

.ie7 .bbsContent div.bbsTitle {display:block; zoom:1;}
.ie7 .bbsContent div.bbsTitle dl dt, .bbsContent div.bbsTitle dl dd { display:inline; zoom:1}
.ie7 .bbsContent div.bbsTitle dl dt { width:70px; padding:0 5px; color:#111; font-weight:500; background:url('../img/common/bg/bgTh_line.gif') no-repeat right center; }	
.ie7 .bbsContent aside {display:block; zoom:1}
.ie7 .bbsContent .sumTxt {display:block;zoom:1;}
.ie7 .bbsContent .sumTxt dt { display:inline; zoom:1;}
.ie7 .bbsContent .sumTxt dd { display:inline; zoom:1}
.ie7 .bbsContent div.bbsTitle.subInfo {zoom:1;}

.ie7 .bbsListCount table .btn {overflow:hidden}




/* IE 8 fix */
.ie8 .select01 {height:19px;}
.ie8 .pageNav a.first, .ie8.pageNav a.last {padding-top:4px; padding-bottom:6px;}
.ie8 .bbsAction div .select01 { height:19px; padding-top:2px; padding-bottom:2px; }

.ie8 .pageNav a.first {line-height:14px;}
.ie8 .pageNav a.last {line-height:14px;}

/* FF */
.firefox .select01 {height:17px; padding-top:2px; padding-bottom:2px}
.firefox .bbsAction div .select01 {margin-right:5px; height:17px; padding-top:4px; padding-bottom:4px}

/* Safari */
.safari .radio-label input, .Safari .check-label input {margin-top:-5px}
.safari .select01 {line-height:18px; box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.safari .bbsType05 tbody td label.radio-label {line-height:30px;}
.safari .bbsType05 tbody td label.radio-label + .select01 {margin-top:-6px;}
.safari .bbsType05 tbody td label.radio-label + .select01 + .select01 {margin-top:-6px;}


/* Android */
.android .radio-label input, .Android .check-label input {margin-top:6px}
.android .bbsType02 tbody td {background:#FFF}
.android .bbsType05 tbody td {background:#FFF}
.android.popup .textarea {width:100%;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}



/* 신규 추가 20190430 */
/* ########## 추가(20190611) 시작 ########## */
h1.individual .infoT{display:block;margin-top:8px;font-size:12px;color:#ff8728}
/* ########## 추가(20190611) 끝 ########## */

/* 하단 버튼 영역 */
.btnBotArea{display:inline-block;width:100%;padding:10px 0;border-top:2px solid #ff8728;box-sizing:border-box;vertical-align:top;text-align:right}
.btnBotArea .btnWht{display:inline-block;width:100px;height:30px;line-height:28px;background:#fff;border:1px solid #ccc;box-sizing:border-box;font-size:13px;color:#333;text-align:center}
.btnBotArea .btnOrg{display:inline-block;width:100px;height:30px;line-height:30px;background:#ff8728;box-sizing:border-box;font-size:13px;color:#fff;text-align:center}
.btnBotArea > a.fl{float:left}

/* 안내 텍스트 */
.infoTxt{margin-top:5px;text-align:right;font-size:12px;color:#666}

/* 테이블 상단 */
.tableBox{display:inline-block;width:100%;vertical-align:top}
.tableTop{display:inline-block;width:100%;margin-bottom:5px;vertical-align:top}
.tableTop .btnWht{display:inline-block;float:left;padding:2px 8px;border:1px solid #888;box-sizing:border-box;font-weight:normal;background:#fff;font-size:12px;color:#333}
.tableTop .btnGry{display:inline-block;float:right;padding:2px 8px;border:1px solid #888;box-sizing:border-box;font-weight:normal;background:#888;font-size:12px;color:#fff}
.tableTop .totalNum{display:inline-block;width:100%;margin:20px 0 0;font-weight:bold;font-size:14px;color:#000;vertical-align:top}
.tableTop .totalNum .num{display:inline-block;color:#ec1a41}
/* 테이블 하단 */
.tbBottom .btnArea{display:inline-block;width:100%;margin-top:10px;vertical-align:top;text-align:right}
.tbBottom .btnArea .btnGry{display:inline-block;float:right;padding:2px 8px;border:1px solid #888;box-sizing:border-box;font-weight:normal;background:#888;font-size:12px;color:#fff}

.scrollArea{display:inline-block;overflow-x:auto;width:100%;max-height:180px;vertical-align:top}

/* 리스트 테이블 */
.listType01{border-top:2px solid #ff8728;table-layout:fixed}
.listType01.brtn{border-top:0;table-layout:fixed}
.listType01 .cbox{vertical-align:middle}
.listType01 th{overflow:hidden;white-space:nowrap;text-align:center;padding:0 2px;font-weight:600;height:38px;border-bottom:1px solid #aaa;background:#fff;border-right:1px solid #fff}
.listType01 td{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;border-bottom:1px solid #e6e9ee;padding:8px 5px;text-align:center;font-size:12px;color:#666}
.listType01 td .btnGry{display:inline-block;padding:2px 8px;font-weight:normal;background:#888;font-size:12px;color:#fff}
.listType01 td.noData{padding:50px 0}
.listType01 td.noData .btnGry{padding:4px 10px}
.listType01 td.al{text-align:left}
.listType01 td.ar{text-align:right}
.listType01 td .inpSet{display:inline-block;position:relative;vertical-align:middle}
.listType01 td .inpSet .inp{height:30px;padding:0 30px 0 10px;line-height:25px;font-size:14px;color:#333;box-sizing:border-box;text-align:right}
.listType01 td .inpSet .inp.txt{width:750px;padding-right:0;font-size:12px;text-align:left}
.listType01 td .inpSet .cmt{position:absolute;top:5px;right:10px;font-size:14px;color:#666}

/* 무선상품 등록 */
.productRegArea{display:inline-block;width:100%;padding:0 0 15px;border-top:2px solid #ff8728;vertical-align:top}
.productRegArea .regList{display:inline-block;width:100%;margin:0;padding:0;box-sizing:border-box;vertical-align:top}
.productRegArea .regList li{display:inline-block;width:100%;margin-top:15px;border:1px solid #ccc;box-sizing:border-box;vertical-align:top}
.productRegArea .regList li .topTitArea{display:inline-block;position:relative;width:100%;padding:10px;box-sizing:border-box;background:#eaeaea;vertical-align:top}
.productRegArea .regList li .topTitArea .tit{display:inline-block;font-weight:bold;font-size:14px;color:#333;vertical-align:middle}
.productRegArea .regList li .topTitArea .chkArea{display:inline-block;width:800px;margin-left:20px;vertical-align:middle}
.productRegArea .regList li .topTitArea .chkArea .chkSet{display:inline-block;margin:2px 5px;vertical-align:top}
.productRegArea .regList li .topTitArea .chkArea .chkSet input[type="checkbox"]{display:inline-block;vertical-align:middle}
.productRegArea .regList li .topTitArea .chkArea .chkSet input[type="checkbox"] + label{display:inline-block;font-size:12px;color:#333;vertical-align:middle;cursor:pointer}
.productRegArea .regList li .topTitArea .rdoArea{display:inline-block;width:800px;margin-left:20px;vertical-align:middle}
.productRegArea .regList li .topTitArea .rdoArea .rdoSet{display:inline-block;margin:2px 5px;vertical-align:top}
.productRegArea .regList li .topTitArea .rdoArea .rdoSet input[type="radio"]{display:inline-block;vertical-align:middle}
.productRegArea .regList li .topTitArea .rdoArea .rdoSet input[type="radio"] + label{display:inline-block;font-size:12px;color:#333;vertical-align:middle;cursor:pointer}
.productRegArea .regList li .topTitArea .btnPlus{position:absolute;top:6px;right:10px;width:30px;height:30px;line-height:28px;box-sizing:border-box;border:1px solid #ccc;background:#fff;font-size:18px;color:#333;text-align:center}
.productRegArea .regList li .topTitArea .inpSet{position:absolute;top:6px;right:10px}
.productRegArea .regList li .topTitArea .inpSet .inp{height:30px;padding:0 30px 0 10px;line-height:25px;font-size:14px;color:#333;box-sizing:border-box;text-align:right}
.productRegArea .regList li .topTitArea .inpSet .inp.txt{width:750px;padding-right:0;font-size:12px;text-align:left}
.productRegArea .regList li .topTitArea .inpSet .cmt{position:absolute;top:5px;right:10px;font-size:14px;color:#666}
.productRegArea .regList li .topTitArea .slctSet{display:inline-block;width:800px;margin-left:20px;vertical-align:middle}
.productRegArea .regList li .topTitArea .slctSet .select01{width:130px;height:30px;padding:0 10px;border:1px solid #ccc}
.productRegArea .regList li .topTitArea .btnUrl{position:absolute;top:6px;right:10px;width:60px;height:30px;line-height:30px;box-sizing:border-box;background:#2e2e2e;font-size:13px;color:#fff;text-align:center}
.productRegArea .regList li .regContent{display:inline-block;width:100%;padding:10px;border-top:1px solid #ccc;box-sizing:border-box;vertical-align:top}
.productRegArea .regList li .regContent .btnArea{display:inline-block;width:100%;margin-top:10px;vertical-align:top;text-align:right}
.productRegArea .regList li .regContent .btnGry{display:inline-block;float:right;padding:2px 8px;border:1px solid #888;box-sizing:border-box;font-weight:normal;background:#888;font-size:12px;color:#fff}
.productRegArea .regList li .regContent .tabArea{display:inline-block;width:100%;vertical-align:top;font-size:0}
.productRegArea .regList li .regContent .tabArea .tab{display:inline-block;width:70px;height:30px;line-height:30px;box-sizing:border-box;border:1px solid #ccc;font-size:12px;color:#333;text-align:center;vertical-align:top}
.productRegArea .regList li .regContent .tabArea .tab:first-child{margin-left:0}
.productRegArea .regList li .regContent .tabArea .tab.on{background:#666;border-color:#666;color:#fff}
.productRegArea .regList li .regContent .tabArea .rdoSet{display:inline-block;margin-left:5px;vertical-align:top}
.productRegArea .regList li .regContent .tabArea .rdoSet:first-child{margin-left:0}
.productRegArea .regList li .regContent .tabArea .rdoSet input[type="radio"]{display:none}
.productRegArea .regList li .regContent .tabArea .rdoSet input[type="radio"] + label{display:inline-block;width:70px;height:30px;line-height:30px;box-sizing:border-box;border:1px solid #ccc;font-size:12px;color:#333;text-align:center;vertical-align:top;cursor:pointer}
.productRegArea .regList li .regContent .tabArea .rdoSet input[type="radio"]:checked + label{background:#666;border-color:#666;color:#fff}
.productRegArea .regList li .regContent .chkSetArea{display:inline-block;width:100%;padding:5px 0;border-top:1px solid #ccc;border-bottom:1px solid #ccc;vertical-align:top}
.productRegArea .regList li .regContent .chkSetArea .chkSet{display:inline-block;margin:0 10px;padding:5px 0;vertical-align:top}
.productRegArea .regList li .regContent .chkSetArea .chkSet input[type="checkbox"]{display:inline-block;vertical-align:middle}
.productRegArea .regList li .regContent .chkSetArea .chkSet input[type="checkbox"] + label{display:inline-block;font-size:12px;color:#333;vertical-align:middle;cursor:pointer}
.productRegArea .regList li .terminalList{display:inline-block;width:800px;margin-left:20px;vertical-align:middle}
.productRegArea .regList li .terminalList .txt{display:inline-block;margin:2px 5px;font-size:12px;color:#333;vertical-align:top}

.productRegArea .beginningArea{display:inline-block;width:100%;padding:120px 0;border-bottom:1px solid #ccc;vertical-align:top;text-align:center}
.productRegArea .beginningArea .btnGry{display:inline-block;padding:2px 8px;font-weight:normal;background:#888;font-size:12px;color:#fff}


/* 팝업 */
#itemList2{padding:15px;margin:0;max-height:60px;overflow-y:auto;border:1px solid #c7c7c7}
#itemList2:after{content:'';clear:both;}
#itemList2 li{float:left;position:relative;margin:3px 10px;list-style:none}
#itemList2 li .cmt{display:inline-block;vertical-align:middle}
#itemList2 li .closeItem{display:inline-block;width:11px;height:11px;padding:5px;margin-left:5px;background:url('../img/common/bul/cross_gry.png') no-repeat 50%;vertical-align:middle}

.urlListArea{display:inline-block;width:100%;padding:0 0 15px;box-sizing:border-box;border-top:2px solid #ff8728;vertical-align:top}
.urlListArea .urlList{display:inline-block;width:100%;padding:0;margin:0;box-sizing:border-box;vertical-align:top}
.urlListArea .urlList li{display:inline-block;width:100%;padding:10px;margin-top:15px;background:#eaeaea;border:1px solid #ccc;box-sizing:border-box;vertical-align:top;font-size:0}
.urlListArea .urlList li .tit{display:inline-block;width:150px;font-weight:bold;font-size:13px;color:#333;vertical-align:middle}
.urlListArea .urlList li .inpSet{display:inline-block;width:calc(100% - 160px);margin-left:10px;vertical-align:middle;font-size:0}
.urlListArea .urlList li .inpSet .inp{display:inline-block;width:calc(100% - 80px);height:30px;padding:0 5px;box-sizing:border-box;font-size:12px;color:#333;vertical-align:top}
.urlListArea .urlList li .inpSet .btnUrl{display:inline-block;width:80px;height:30px;line-height:30px;background:#888;font-weight:bold;font-size:13px;color:#fff;vertical-align:top;text-align:center}